<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.w3.org/1999/xhtml"
  xmlns:x-on="http://www.w3.org/1999/xhtml"
>
  <head>
    <title>羽球配對</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="羽球配對">
    <meta property="og:description" content="找到您的專屬羽球團">
    <meta property="og:image" th:content="@{images/badminton.jpg}">
    <meta property="og:url" content="https://www.gurula.cc/badminton/posts">
    <meta property="og:type" content="website">

    <link rel="icon" type="image/png" th:href="@{images/favicon.ico}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}" />
    <script th:src="@{js/deviceType.js}"></script>
  </head>
  <body>
    <div class="limiter">
      <div class="container-table100">
        <div class="wrap-table100">
          <div class="table100" x-data="loadData(posts)" x-init="init()">

              <!-- Search Bar -->
              <div class="mb-3">
                  <div class="row">
                      <div style="margin-top: 10px" class="col-md-3">
                          <div class="form-group d-flex align-items-center">
                              <label class="input-group-text mr-2" style="border-radius: 0; border: none" for="startDate">開始日期</label>
                              <input
                                      type="date"
                                      class="form-control"
                                      style="border-radius: 0;"
                                      id="startDate"
                                      x-model="startDate"
                              />
                          </div>
                      </div>
                      <div style="margin-top: 10px" class="col-md-3">
                          <div class="form-group d-flex align-items-center">
                              <label class="input-group-text mr-2" style="border-radius: 0; border: none" for="endDate">結束日期</label>
                              <input
                                      type="date"
                                      class="form-control"
                                      style="border-radius: 0;"
                                      id="endDate"
                                      x-model="endDate"
                              />
                          </div>
                      </div>
                      <div style="margin-top: 10px" class="col-md-6">
                          <div class="form-group d-flex align-items-center">
                              <label class="input-group-text mr-2" style="border-radius: 0; border: none" for="keyword">關鍵字</label>
                              <input
                                      type="text"
                                      class="form-control"
                                      style="border-radius: 0;"
                                      id="keyword"
                                      placeholder="可搜尋團主名、地點、用球..."
                              />
                              <i class="fa fas fa-times clear-btn" onclick="clearKeyword()"></i>
                          </div>
                      </div>
                  </div>
                  <div class="row mt-3" style="margin-top: 10px">
                      <div class="col d-flex justify-content-end">
                          <button
                                  class="btn btn-primary"
                                  type="button"
                                  x-on:click="search()"
                          >
                              搜尋
                          </button>
                      </div>
                  </div>
              </div>

              <div class="row mt-3" style="margin-top: 10px; margin-bottom: 10px;">
                  <div class="col-12 text-left">
                     <button type="button" class="btn btn-success btn-sm btn-rounded" x-on:click="showTodayNewPostBtn();">最新上架</button>
                  </div>
                  <div class="col-12 d-flex justify-content-end">
                      <span id="google_authorize_text" style="color: white;"></span>
                  </div>
              </div>



              <table>
              <thead>
                <tr class="table100-head">
                  <th class="th-leader">團主名</th>
                  <th class="th-place">地點</th>
                  <th class="th-time">時間</th>
                  <th class="th-fee">費用 (NT)</th>
                  <th class="th-brand">用球</th>
                  <th class="th-level">程度</th>
                  <th class="th-airConditioner">冷氣</th>
                  <th class="th-parkInfo">停車資訊</th>
                  <th class="th-action">動作</th>
                </tr>
              </thead>
              <tbody>
                <template x-for="(item,index) in getData()" :key="index">
                  <tr>
                    <td class="th-leader">
                      <a
                        :href="isMobile() ? item.shortLink : item.link"
                        target="_blank"
                        x-text="item.name"
                      ></a>
                    </td>
                    <td class="th-place" x-text="item.place"></td>
                    <td class="th-time" x-text="item.time"></td>
                    <td class="th-fee" x-text="item.fee"></td>
                    <td
                      class="th-brand"
                      x-text="item.brand === '' ? '-' : item.brand"
                    ></td>
                    <td class="th-level" x-text="item.level"></td>
                    <td
                      class="th-airConditioner"
                      x-text="item.airConditioner == '未標示' ? '-' : (item.airConditioner == '有冷氣' ? 'Y' : 'N')"
                    ></td>
                    <td
                      class="th-parkInfo"
                      x-text="item.parkInfo === '' ? '-' : item.parkInfo"
                    ></td>
                    <td class="th-action">
                      <button type="button" class="btn btn-primary" style="padding: 5px; margin: 5px"
                              x-on:click="importCalender(item.place, item.startTime, item.endTime, item.fee, item.parkInfo, item.name)"
                      >Google行事曆</button>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
            <nav class="mt-5 mb-4" x-show="pageCount() > 1">
              <ul class="pagination justify-content-center card-page">
                <li class="page-item" :class="{ 'disabled' : pageNumber==0 }">
                  <a
                    class="page-link page-prev"
                    type="button"
                    x-on:click="prevPage();"
                    :disabled="pageNumber==0"
                  >
                    <i class="fa fas fa-chevron-left"></i>
                  </a>
                </li>
                <li
                  class="page-item disabled"
                  :class="{ 'd-none' : pageCount() <= 4 || pageNumber == 0 || ( pageCount() > 4 && pageNumber == pageCount() ) }"
                >
                  <a class="page-link">···</a>
                </li>
                <template x-for="(page,index) in pages()" :key="index">
                  <li
                    class="page-item"
                    :class="{ 'active' : index === pageNumber , 'd-none' : pageCount() > 4 && ( (index < pageNumber && pageNumber < pageCount() -4) || (index < pageCount() -4 && pageNumber >= pageCount() -4) || index >= pageNumber+4 ) }"
                  >
                    <a
                      class="page-link"
                      type="button"
                      x-on:click="viewPage(index);"
                      x-text="index+1"
                    ></a>
                  </li>
                </template>
                <li
                  class="page-item disabled"
                  :class="{ 'd-none' : pageCount() <= 4 || pageNumber >= pageCount() -4}"
                >
                  <a class="page-link">···</a>
                </li>
                <li
                  class="page-item"
                  :class="{ 'disabled' : pageNumber >= pageCount() -1 }"
                >
                  <a
                    class="page-link page-next"
                    type="button"
                    x-on:click="nextPage();"
                    :disabled="pageNumber >= pageCount() -1"
                  >
                    <i class="fa fas fa-chevron-right"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/alpine.2.8.2.min.js}"></script>
    <script th:inline="javascript">
      const posts = /*[[${posts}]]*/
      const clientId = /*[[${clientId}]]*/

        function loadData(eleData) {
          return {
            pageNumber: 0,
            size: 20,
            total: "",
            startDate: "",
            endDate: "",
            myForData: eleData,

            init() {
              const today = new Date();
              const threeDaysLater = new Date();
              threeDaysLater.setDate(today.getDate() + 3);

              this.startDate = today.toISOString().split("T")[0];
              this.endDate = threeDaysLater.toISOString().split("T")[0];

              if (clientId != null){  // google驗證過
                $("#google_authorize_text").text('* Google串接成功，可將羽球資訊匯入行事曆');
              }
            },
            getData() {
              const start = this.pageNumber * this.size,
                end = start + this.size;
              let filterData = this.myForData;
              this.total = filterData.length;
              return filterData.slice(start, end);
            },
            pages() {
              return Array.from({
                length: Math.ceil(this.total / this.size),
              });
            },
            nextPage() {
              this.pageNumber++;
              window.scrollTo(0, 0); // 滾動到頁面頂部
            },
            prevPage() {
              this.pageNumber--;
              window.scrollTo(0, 0); // 滾動到頁面頂部
            },
            pageCount() {
              return Math.ceil(this.total / this.size);
            },
            viewPage(index) {
              this.pageNumber = index;
              window.scrollTo(0, 0); // 滾動到頁面頂部
            },
            search() {
              let _this = this;
              let data = {};
              let startDate = $("#startDate").val() + " 00:00:00";
              let endDate = $("#endDate").val() + " 23:59:59";
              let keyword = $("#keyword").val();
              data.startDate = startDate;
              data.endDate = endDate;
              data.keyword = keyword;
              $.ajax({
                url: "searchPosts",
                type: "post",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  _this.pageNumber = 0;
                  _this.myForData = response;
                },
              });
            },
            showTodayNewPostBtn (){
              let _this = this;
              $.ajax({
                url: "getTodayNewPosts",
                type: "get",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C000"){
                    _this.myForData = response.data;
                    _this.pageNumber = 0;
                  }
                },
              });
            },
            importCalender (place, startTime, endTime, fee, parkInfo, name){
              let data = {};
              data.summary = "羽球"
              data.location = place;
              data.start = startTime;
              data.end = endTime;
              // 組備註資料
              let description;
              if (parkInfo !== ""){
                description = "－聯絡人：" + name + "－費用：" + fee + "－停車資訊：" + parkInfo;
              } else {
                description = "－聯絡人：" + name + "－費用：" + fee;
              }
              data.description = description;
              $.ajax({
                url: "importCalendar",
                type: "post",
                dataType: "json",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                  if (response.code == "C000"){
                    alert('匯入行事曆成功')
                  } else if (response.code == "C007"){
                    window.location.href = 'oauth2/authorize';
                  }
                },
              });
            },
          };
        };

        function clearKeyword() {
            $('#keyword').val('');
        }
    </script>
  </body>
</html>
